<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477643770220-h4h3u1tdbcomhta2v8dcnnf3ac5ppeom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477643770220-h4h3u1tdbcomhta2v8dcnnf3ac5ppeom</string>
	<key>API_KEY</key>
	<string>AIzaSyAFyCvTjWTqOS6mdwSrMPsKapzSc1ZXm14</string>
	<key>GCM_SENDER_ID</key>
	<string>477643770220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lauramonk.app.hotdealsgemet.pro</string>
	<key>PROJECT_ID</key>
	<string>hot-deals-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-deals-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477643770220:ios:c7d818015960b026da4b49</string>
</dict>
</plist>