<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375430055892-mes5vkr8envr5dhdd7942sva9jupmrf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375430055892-mes5vkr8envr5dhdd7942sva9jupmrf2</string>
	<key>API_KEY</key>
	<string>AIzaSyBl2ENBCTQVPmImYju_faJXP3hL-SITsKA</string>
	<key>GCM_SENDER_ID</key>
	<string>375430055892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lauramonk.app.hotDeals.prod</string>
	<key>PROJECT_ID</key>
	<string>hot-deals-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-deals-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375430055892:ios:a460dcd58af6eafd0f7841</string>
</dict>
</plist>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375430055892-vfi5rs2qa57ldv9f7u986pbtv589g109.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375430055892-vfi5rs2qa57ldv9f7u986pbtv589g109</string>
	<key>API_KEY</key>
	<string>AIzaSyBl2ENBCTQVPmImYju_faJXP3hL-SITsKA</string>
	<key>GCM_SENDER_ID</key>
	<string>375430055892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lauramonk.app.hotDeals.dev</string>
	<key>PROJECT_ID</key>
	<string>hot-deals-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-deals-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375430055892:ios:722ff4a68524fac90f7841</string>
</dict>
</plist>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375430055892-vplhpemllkh7hj6v9ocnqa812pf5opvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375430055892-vplhpemllkh7hj6v9ocnqa812pf5opvf</string>
	<key>API_KEY</key>
	<string>AIzaSyBl2ENBCTQVPmImYju_faJXP3hL-SITsKA</string>
	<key>GCM_SENDER_ID</key>
	<string>375430055892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lauramonk.app.hotDeals.pro</string>
	<key>PROJECT_ID</key>
	<string>hot-deals-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-deals-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375430055892:ios:4ca64c6df3798ae20f7841</string>
</dict>
</plist>
